<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetSaeDon"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity android:name="iut.dam.projetsaedon.donation.RecurringDonationActivity"
            android:exported="true" />
        <activity android:name="iut.dam.projetsaedon.donation.DonationNormalActivity"
            android:exported="true" />
        <activity
            android:name=".associations.AssociationDetailsActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="open_asso"
                    android:scheme="donationapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin.AdminTotalDonationsActivity"
            android:exported="true" />
        <activity
            android:name=".mesdonsrecurents.MyRecurringDonationsActivity"
            android:exported="true" />
        <activity
            android:name=".admin.RecurrentDonationsActivity"
            android:exported="true" />
        <activity
            android:name=".login.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".associations.AssociationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".associations.AssociationListActivity"
            android:exported="false" />
        <activity
            android:name=".accueil.AccueilActivity"
            android:exported="false" />
        <activity
            android:name=".register.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>